.aside-block{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}
@media screen and (max-width:320px) {
    .aside-block{
        background-color: rgba(0,0,0,0.8);
        width: 100vw;
        height: 100vh;
        position:fixed;
    }
}